.footer {
    width: 100%;

    .footer--copy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .footer--copy-photos {
            padding: 0;

            a {
                color: #000;
                text-decoration: none;
                font-weight: bold;
                margin-left: -40px;
            }
        }

        .footer--copy-template {
            padding: 0;

            a {
                color: #000;
                text-decoration: none;
                font-weight: bold;
                margin-left: -40px;
            }
        }
    }
}