@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.Album {
    padding: 20px 0px 0px 30px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 80px;
    padding-top: 60px;
    border-bottom: 1px solid #ccc;

    .photos {
        display: inline-block;
        

        .photos--desc {
            width: 290px;
            height: 290px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 20px;
            margin-bottom: 20px;

            p {
                display: none;
                justify-content: center;
                align-items: center;
                background-color: rgba(82, 79, 79, 0.7);
                padding:5px 0px;
                margin-top: -34px;
                font-family: 'Outfit', sans-serif;
                font-size: 20px;
                transition: all ease 0.8s;

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }

            &:hover {
                
                p {
                    display: flex;
                    z-index: 99;
                    width: 250px;
                    opacity: 1;
                }
            }
        }
        
    }
}