@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.Album {
    padding: 20px 0px 0px 30px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-top: 60px;
    border-bottom: 1px solid #ccc;

    .photos {
        display: inline-block;
        
        .photos--desc {
            width: 250px;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 20px;
            margin-bottom: 20px;


            .photos--desc-photo {
                width: 90%;
                height: 90%;
                transition: all ease 0.7s;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p {
                width: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(44, 43, 43, 0.2);
                opacity: 0;
                padding:5px 0px;
                margin-top: -34px;
                font-family: 'Outfit', sans-serif;
                font-size: 20px;
                transition: all ease 0.5s;

                a {
                    display: none;
                    color: #fff;
                    text-decoration: none;               
                }
            }

            &:hover {

                .photos--desc-photo {
                    width: 100%;
                    height: 100%;
                }

                p {
                    z-index: 99;
                    opacity: 1;
                }

                a {
                    display: block;
                }
            }
        }
    }

    @media screen and (max-width: "600px") {
        padding-left: 10px;

        .photos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 0px;

            .photos--desc {
                width: 80%;
                height: auto;
                margin-bottom: 0px;

                p {
                    width: 100%;
                    font-size: 12px;
                    margin-top: -30px;
                }    
            }
        }
    }

    @media screen and (max-width: "800px") {
        padding-left: 5%;

        .photos {
            display: inline-block;
            width: 45%;
            height: auto;
            margin-right: 5%;

            .photos--desc {
                
                p {
                    width: 225px;
                }
            }
        }
    }
}