@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

$small: '500px';
$medium: '900px';

.header {
    width: 100%;

    .header--area {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header--title h1 {
            font-family: 'Praise', cursive;
        }

        .header--search {
            padding: 0;
            border-bottom: 2px solid rgb(41, 39, 39);
            display: flex;
            justify-content: left;
            align-items: flex-start;

            input {
                background: transparent;
                border: none;
                padding: 15px 15px 5px 10px;

                &:focus {
                    outline: none;
                }
            }
        }

        @media screen and (max-width: $small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .header--title h1 {
                font-size: 35px;
                margin-bottom: 10px;
            }

            .header--search {
                width: 120%;
            }
        }
    }
}
