@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

$small: '600px';
$medium: '900px';

.header {
    width: 100%;

    .header--area {
        display: flex;
        justify-content: center;
        align-items: center;

        .header--title h1 {
            font-family: 'Playfair Display', serif;
        }

        @media screen and (max-width: $small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .header--title h1 {
                font-size: 35px;
                margin-bottom: 10px;
            }
        }
    }
}
